@model Product
@{
    ViewData["Title"] = "Ürün Detay";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Model.Image" style="width:300px;height:400px" alt="Alternate Text" />
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    @Model.Name
                </div>
                <div class="card-body">

                    <p>Kategori:@ViewBag.categoryName</p>

                    <p class="card-text">Fiyat:@Model.Price</p>
                    <h5 class="card-title">Puan:@Model.Point</h5>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning float-right">Geri Dön</a>
                </div>
            </div>
        </div>
    </div>

</div>


